<% provide(:title, 'Help') %>
<!--<!DOCTYPE>
<html>
  <head>
  <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></titile>
  </head>
  <body>-->
    <h1>Help</h1>
    <p>
    Get help on the Ruby on Rails Tutorial at the
      <a href="http://railstutorial.jp/help">Rails Tutorial help page</a>
    To get help on this sample app, see the
      <a href="http://railstutorial.jp/book">Rails Totorial book</a>
    </p>
  <!--</body>
</html>-->
